* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  height: 100vh;
  background-color: blue;
  float: left;
}
body {
  padding: 1%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}


.App {
  width: 200px; /* Set a width if you like */
  min-height: 100vh;
  background-color: #eee; 
  float: left;

}

.App a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.App a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.App a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}

nav {
  /* padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
  background-color: lightslategray; */
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}
nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #09000e 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.Card_Vegas{
  padding-top: 2%;
  float: left;
}
.Card_LosAngeles{
  padding-top: 2%;
  padding-left: 2%;
  float: left;
}
table, th, td {
  border: 1px solid;
  margin-top: 3%;
  margin-left: 40%;
  width: 250px;
  height: 45px;
}
input{
  margin-top: 2%;
  border-radius: 10px;
  height: 30px;
}

button {
  margin-top: 2%;
  border-radius: 10px;
  height: 30px;
}
.thText {
  margin-top: 1%;
}